h1 { 
color: darkred;
 }

 h2 {
 	text-align: center;
 }

.caption { 
 text-align: center;
 max-width: 500px;
margin: 0 auto;  }

.container { 
max-width: 500px;
margin: 0 auto; }

.images {
	display: block;
	margin:  0 auto;
	size: 
}

.text {
	text-transform:;
}

#zoo {
	color: blue;
}